<div class="mt-4">
    <div>
      <h2>Trash Courses List</h2>
      <a href="/me/stored/courses">Courses List</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Course Name</th>
                <th scope="col">Course Description</th>
                <th scope="col">Course Image</th>
                <th scope="col">Deleted At</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td><img src="{{this.image}}" class="card-img-top" alt="..."></td>
                    <td>{{this.createAt}}</td>
                    <td>
                        <a class="btn btn-link btn-restore" href="" data-id="{{this._id}}">Restore</a>
                        <a class="btn btn-link" data-id="{{this._id}}" data-name="{{this.name}}" data-bs-toggle="modal" data-bs-target="#deleteModel">Remove</a>
                    </td>
                </tr>

                {{else}}
                <tr>
                  <td class="text-center" colspan="6">
                    NO Course In Trash
                    <a href="/me/stored/courses">Courses List</a>
                  </td>
                </tr>

            {{/each}}
        </tbody>
    </table>
</div>

{{!-- Confirm delete course --}}

<!-- Modal -->
<div class="modal fade" id="deleteModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Course?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        You will not be able to recover it!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button id="btn-delete-course" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete form submit--}}
<form id="force-delete-course-form" method="POST"></form>
<form id="restore-course-form" method="POST"></form>

<script>
    const deleteModel = document.getElementById('deleteModel')
    var forceDeleteCourseForm = document.getElementById("force-delete-course-form")
    var restoreCourseForm = document.getElementById("restore-course-form")
    var btnDeleteCourse = document.getElementById("btn-delete-course")
    var btnRestore = document.querySelectorAll('.btn-restore');

    var courseId

    deleteModel.addEventListener('show.bs.modal', function (event) {

        const button = event.relatedTarget

        courseId = button.getAttribute('data-id')
        const name = button.getAttribute('data-name')

        const modalBody = deleteModel.querySelector('.modal-body')

        modalBody.textContent = 'Delete \"' + name + '\"'
    })

    btnDeleteCourse.onclick = function () {
      forceDeleteCourseForm.setAttribute('action', '/courses/' + courseId + '/force?_method=DELETE')
      forceDeleteCourseForm.submit()
    }

    // Restore button click
    btnRestore.forEach(function (btn) {
      btn.addEventListener('click', function (e) {
          e.preventDefault();
          var id = this.getAttribute('data-id');
          restoreCourseForm.setAttribute('action', '/courses/' + id +  '/restore?_method=PATCH')
          restoreCourseForm.submit()
      });
  });
</script>